# Кластеризация

**Цель работы:** получение практических навыков использования методов кластеризации.

Продолжительность работы: - 4 часа.

Мягкий дедлайн (10 баллов): 28.11.2024

Жесткий дедлайн (5 баллов): 19.12.2024

## Задание 1. Кластеризация исполнителей по жанрам

В этом задании необходимо кластеризовать исполнителей по жанрам на основе данных о прослушивании.

В файле music_listening.csv по строкам стоят пользователи, а по столбцам - исполнители.

Для каждой пары (пользователь,исполнитель) в таблице стоит число - доля (процент) прослушивания этого исполнителя выбранным пользователем.

### Импорт библиотек, загрузка данных

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('music_listening.csv', low_memory=False)

In [3]:
ratings.head()

,user,the beatles,radiohead,deathcab for cutie,coldplay,modest mouse,sufjan stevens,dylan. bob,red hot clili peppers,pink fluid,...,municipal waste,townes van zandt,curtis mayfield,jewel,lamb,michal w. smith,群星,agalloch,meshuggah,yellowcard
0,0,NaN,0.020417,NaN,NaN,NaN,NaN,NaN,0.030496,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,0.184962,0.024561,NaN,NaN,0.136341,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,0.028635,NaN,NaN,NaN,0.024559,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0.043529,0.086281,0.034590,0.016712,0.015935,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Транспонируем матрицу ratings, чтобы по строкам стояли исполнители.

In [4]:
ratings = ratings.T
ratings.head()

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
user,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
the beatles,NaN,NaN,NaN,NaN,0.043529,NaN,NaN,NaN,0.093398,0.017621,...,NaN,NaN,0.121169,0.038168,0.007939,0.017884,NaN,0.076923,NaN,NaN
radiohead,0.020417,0.184962,NaN,NaN,0.086281,0.006322,NaN,NaN,NaN,0.019156,...,0.017735,NaN,NaN,NaN,0.011187,NaN,NaN,NaN,NaN,NaN
deathcab for cutie,NaN,0.024561,0.028635,NaN,0.03459,NaN,NaN,NaN,NaN,0.013349,...,0.121344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.027893
coldplay,NaN,NaN,NaN,NaN,0.016712,NaN,NaN,NaN,NaN,NaN,...,0.217175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Удалите строку под названием `user`.

In [5]:
if 'user' in ratings.index:
    ratings = ratings.drop('user')
ratings.head()

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
the beatles,NaN,NaN,NaN,NaN,0.043529,NaN,NaN,NaN,0.093398,0.017621,...,NaN,NaN,0.121169,0.038168,0.007939,0.017884,NaN,0.076923,NaN,NaN
radiohead,0.020417,0.184962,NaN,NaN,0.086281,0.006322,NaN,NaN,NaN,0.019156,...,0.017735,NaN,NaN,NaN,0.011187,NaN,NaN,NaN,NaN,NaN
deathcab for cutie,NaN,0.024561,0.028635,NaN,0.03459,NaN,NaN,NaN,NaN,0.013349,...,0.121344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.027893
coldplay,NaN,NaN,NaN,NaN,0.016712,NaN,NaN,NaN,NaN,NaN,...,0.217175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
modest mouse,NaN,NaN,NaN,NaN,0.015935,NaN,NaN,NaN,NaN,0.030437,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Сколько строк осталось в матрице ratings?

In [6]:
ratings.shape[0]

1000

Заполните пропуски нулями.

In [7]:
ratings = ratings.fillna(0)
ratings.head()

C:\Users\basil\AppData\Local\Temp\ipykernel_2936\1564785369.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ratings = ratings.fillna(0)

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
the beatles,0.000000,0,0.000000,0.0,0.043529,0.000000,0,0,0.093398,0.017621,...,0.000000,0.0,0.121169,0.038168,0.007939,0.017884,0,0.076923,0.0,0.000000
radiohead,0.020417,0.184962,0.000000,0.0,0.086281,0.006322,0,0,0,0.019156,...,0.017735,0.0,0.000000,0,0.011187,0,0,0.000000,0.0,0.000000
deathcab for cutie,0.000000,0.024561,0.028635,0.0,0.034590,0.000000,0,0,0,0.013349,...,0.121344,0.0,0.000000,0,0,0,0,0.000000,0.0,0.027893
coldplay,0.000000,0,0.000000,0.0,0.016712,0.000000,0,0,0,0,...,0.217175,0.0,0.000000,0,0,0,0,0.000000,0.0,0.000000
modest mouse,0.000000,0,0.000000,0.0,0.015935,0.000000,0,0,0,0.030437,...,0.000000,0.0,0.000000,0,0,0,0,0.000000,0.0,0.000000

Нормализуйте данные при помощи `normalize`.

In [8]:
from sklearn.preprocessing import normalize

ratings_norm = normalize(ratings, axis=1)
import numpy as np
# Convert back to DataFrame
ratings_norm = pd.DataFrame(ratings_norm, index=ratings.index, columns=ratings.columns)
ratings_norm.head()

ValueError: could not convert string to float: '1,000'

Примените KMeans с 5ю кластерами на преобразованной матрице (сделайте fit, а затем вычислите кластеры при помощи predict).

In [ ]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=5, random_state=42)
kmeans.fit(ratings_norm)
labels = kmeans.predict(ratings_norm)
labels

Выведите на экран центры кластеров (центроиды)

In [ ]:
centroids = kmeans.cluster_centers_
centroids

Для каждого кластера найдем топ-10 исполнителей, наиболее близких к центроидам соотвествующего кластера.

Схожесть исполнителей будем считать по косинусной мере (spatial.distance.cosine).

Вычислите расстояние между "the beatles" и "coldplay". Ответ округлите до сотых.

In [ ]:
from scipy import spatial

dist = spatial.distance.cosine(ratings_norm.loc['the beatles'], ratings_norm.loc['coldplay'])
round(dist, 2)

Ниже приведена функция, принимающая на вход:
* np.array points - все точки кластера
* pt - центроид кластера
* K = 10 - число
Функция возвращает K индексов объектов (строк в массиве points), ближайших к центроиду.

In [ ]:
def pClosest(points, pt, K=10):
    from scipy import spatial
    ind = [i[0] for i in sorted(enumerate(points), key=lambda x: spatial.distance.cosine(x[1], pt))]
    return ind[:K]

Примените функцию pClosest (или придумайте свой подход) и выведите для каждого кластера названия топ-10 исполнителей, ближайших к центроиду.

In [ ]:
import numpy as np

artists = ratings_norm.index.tolist()
for i in range(5):
    cluster_indices = np.where(labels == i)[0]
    points = ratings_norm.values[cluster_indices]
    cent = centroids[i]
    closest_idx = pClosest(points, cent, K=10)
    top_artists = [artists[cluster_indices[j]] for j in closest_idx]
    print(f"Кластер {i}:")
    for art in top_artists:
        print(art)
    print()

Проинтерпретируйте результат. Что можно сказать о смысле кластеров?

## Задание 2. Сравнение алгоритмов кластеризации

Попробуйте разные методы для поиска кластеров.
Не забудьте измерить время работы работы каждого метода.

In [ ]:
from matplotlib import pyplot as plt
from sklearn.datasets import make_moons

data = make_moons(n_samples=100, noise=0.1, random_state=42)

X = data[0]
 y = data[1]

plt.scatter(X[:,0], X[:,1], c=y)
plt.show()

### KMeans.

Попробуйте найти кластеры при помощи KMeans

In [ ]:
from sklearn.cluster import KMeans
from sklearn.metrics import adjusted_rand_score
import time

start = time.time()
kmeans2 = KMeans(n_clusters=2, random_state=42)
kmeans2.fit(X)
labels_kmeans = kmeans2.labels_
time_kmeans = time.time() - start
ari_kmeans = adjusted_rand_score(y, labels_kmeans)
print(f"KMeans: ARI = {ari_kmeans:.2f}, time = {time_kmeans:.4f} сек")

### DBSCAN

Подберите ε и min_samples в DBSCAN, чтобы наилучшим образом найти кластеры.
Ищите гиперпараметры из диапазонов:
* eps in [0.05, 0.1, 0.2, 0.28, 0.3, 0.32]
* min_samples in [4, 5, 6, 7]

In [ ]:
from sklearn.cluster import DBSCAN
from sklearn.metrics import adjusted_rand_score
import time

best_ari_db = -1
best_params_db = None
best_time_db = None
best_labels_db = None

for eps in [0.05, 0.1, 0.2, 0.28, 0.3, 0.32]:
    for ms in [4, 5, 6, 7]:
        start = time.time()
        db = DBSCAN(eps=eps, min_samples=ms)
        labels_db = db.fit_predict(X)
        t = time.time() - start
        ari = adjusted_rand_score(y, labels_db)
        print(f"DBSCAN eps={eps}, min_samples={ms}: ARI = {ari:.2f}, time = {t:.4f} сек")
        if ari > best_ari_db:
            best_ari_db = ari
            best_params_db = (eps, ms)
            best_time_db = t
            best_labels_db = labels_db

print(f"\nЛучшие параметры для DBSCAN: eps={best_params_db[0]}, min_samples={best_params_db[1]}, ARI = {best_ari_db:.2f}, time = {best_time_db:.4f} сек")

### Иерархическая кластеризация

Используйте иерархическую кластеризацию для поиска кластеров.
Задайте в методе 2 кластера.
Подберите гиперпараметр linkage из списка ['ward', 'complete', 'average', 'single'], дающий наилучший результат.

In [ ]:
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import adjusted_rand_score
import time

best_ari_h = -1
best_link = None
best_time_h = None
best_labels_h = None

for link in ['ward', 'complete', 'average', 'single']:
    start = time.time()
    ag = AgglomerativeClustering(n_clusters=2, linkage=link)
    labels_h = ag.fit_predict(X)
    t = time.time() - start
    ari = adjusted_rand_score(y, labels_h)
    print(f"Agglomerative linkage={link}: ARI = {ari:.2f}, time = {t:.4f} сек")
    if ari > best_ari_h:
        best_ari_h = ari
        best_link = link
        best_time_h = t
        best_labels_h = labels_h

print(f"\nЛучший linkage для иерархической кластеризации: {best_link}, ARI = {best_ari_h:.2f}, time = {best_time_h:.4f} сек")

## Спектральная кластеризация

Попробуйте найти кластеры при помощи спектральной кластеризации.
Задайте 2 кластера, affinity='nearest_neighbors'.
Подберите гиперпараметр n_neighbors из диапазона [1,2,...,19], чтобы добиться наилучшего результата.

In [ ]:
from sklearn.cluster import SpectralClustering
from sklearn.metrics import adjusted_rand_score
import time

best_ari_s = -1
best_nnb = None
best_time_s = None
best_labels_s = None

for nnb in range(1, 20):
    start = time.time()
    sc = SpectralClustering(n_clusters=2, affinity='nearest_neighbors', n_neighbors=nnb, assign_labels='kmeans', random_state=42)
    labels_s = sc.fit_predict(X)
    t = time.time() - start
    ari = adjusted_rand_score(y, labels_s)
    print(f"Spectral n_neighbors={nnb}: ARI = {ari:.2f}, time = {t:.4f} сек")
    if ari > best_ari_s:
        best_ari_s = ari
        best_nnb = nnb
        best_time_s = t
        best_labels_s = labels_s

print(f"\nЛучшее n_neighbors для SpectralClustering: {best_nnb}, ARI = {best_ari_s:.2f}, time = {best_time_s:.4f} сек")

## Выводы

Сделайте выводы: какой метод сработал лучше других? какой метод сработал быстрее? есть ли метод, наилучший и по качеству, и по времени одновременно?